body{

}

p{

}

h3{

}

li{

}

#Header{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: solid 50px blueviolet

}

#Header h3{

}

#LeftNav{

}

#LeftNav img{

}

#LeftNav ul{

}

#LeftNav h3{

}

#Content{

}

#Footer{

}

